.educationWrapper {
    display:flex;
    justify-content: flex-start;
    padding:10px;
    flex-direction: column;
}

.schoolName {
 font-size: 14px
}

.years {
 font-size: 10px;
}

.focus {
    font-size: 14px;
}